  
@font-face {
  font-family: Blog-Font;
  src: url(../webfonts/blog-regular.woff2) format('opentype');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Blog-Font;
  src: url(../webfonts/blog-Semibold.woff2) format('opentype');
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Blog-Font;
  src: url(../webfonts/blog-bold.woff2) format('opentype');
  font-weight: 700;
  font-style: normal
}

/************** Default CSS **************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Blog-Font', sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #1d2228;
  font-weight: 400;
  position: relative;
  height: 100%;
  width: 100%;
  counter-reset: myCounter;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, .button, button {
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:hover {
  text-decoration: none;
  color: #eb001e;
}

a:focus, button:focus, input:focus, textarea:focus {
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer
}

ul, ol {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-style: normal;
  margin-top: 0px;
  line-height: 1.3;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 38px;
 
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 15px;
}

a {
  font-size: 100%;
  font-weight: 400;
  text-decoration: none;
  color: #188fff;
}

/************** Default CSS End **************/
a.navbar-brand img {
  width: 100%;
  max-width: 124px;
}

header {
  -webkit-box-shadow: 0px 2px 3px rgb(0 0 0 / 10%);
  box-shadow: 0px 2px 3px rgb(0 0 0 / 10%);
  padding: 4px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10001;
  left: 0;
  /* height: 68px; */
  display: block;
  background: #ffffff;
}

li.nav-item .nav-link {
  font-size: 14px;
  color: #343434;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.3px;
  font-family: 'Roboto', sans-serif;
  margin: 0px 4px;
}

a.navbar-brand span {
  font-family: 'Roboto';
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  color: #e8011d;
}

a.navbar-brand {
  display: block;
}

span.big-letter {
  display: inline-block !important;
  font-size: 24px !important;
  font-weight: 700!important;
}

span.big-letter-2 {
  display: inline-block!important;
  font-size: 24px !important;
  font-weight: 700!important;
}

li.nav-item .nav-link:hover {
  color: #e8011d;
}

footer {
  background: #222121;
  padding: 48px 0px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social p {
  font-size: 16px;
  color: #cecece;
  margin: 0;
  margin-right: 12px;
  font-family: 'Roboto';
}

.footer-social ul li a {
  background: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 4px;
  font-family: 'Roboto';
}

.footer-social ul li a i {
  font-size: 16px;
  color: #000;
}

.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nav ul li a {
  font-size: 14px;
  color: #cecece;
  display: block;
  border-right: 1px solid #cecece;
  line-height: 12px;
  padding: 0px 8px;
  font-family: 'Roboto';
}

.footer-nav ul li:last-child a {
  border: 0;
}

.footer-nav ul li a:hover {
  color: #e8011d;
}

p.copyright {
  margin: 0;
  text-align: center;
  color: #cecece;
  font-size: 14px;
  margin-top: 24px;
  font-family: 'Roboto';
}

.footer-nav {
  padding-top: 40px;
}

.footer-social ul li a:hover {
  background: #e8011d;
  color: #fff;
}

.footer-social ul li a:hover i {
  color: #fff;
}

.blog-content-start-here {
  padding-left: 60px;
  width: 100%;
}

.social-share {
  position: sticky;
  position: -webkit-sticky;
  top: 115px;
  width: 100%;
  max-width: 20px;
  max-height: 80px;
}

.social-share ul li a i {
  font-size: 18px;
  color: #454e56;
}

.social-share ul li a {
  display: block;
  margin-bottom: 24px;
}

.blog-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.blog-content-start-here img {
  width: 100%;
  max-width: 100%;
  display: block;
  margin-bottom: 15px;
}

.author-name h4 {
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 1;
  font-weight: 500;
}

p.blog-date {
  font-size: 14px;
  margin: 0;
  color: #828c93;
  line-height: 1;
}

.blog-writer-info {
  position: relative;
  padding-bottom: 34px;
  margin-bottom: 24px;
}

.blog-writer-info:after {
  position: absolute;
  content: "";
  width: 100%;
  max-width: 234px;
  height: 8px;
  border-color: #000 transparent transparent;
  border-style: solid;
  border-width: 8px 3px 0 0;
  bottom: 0;
}

.blog-writer-info:before {
  content: "";
  position: absolute;
  left: 233px;
  border-color: transparent transparent #ffd333;
  border-style: solid;
  border-width: 0 0 9px 3px;
  display: inline-block;
  margin-left: 10px;
  width: 100%;
  bottom: 0;
  max-width: 33px;
}

.blog-header {
  margin-bottom: 28px;
}

main {
  margin-top: 120px;
  margin-bottom:40px;
}

.trending-post-wrap ul li a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  display: block;
  color: #343434;
}

.trending-post-wrap ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 18px;
}

.trending-post-wrap ul li:after {
  counter-increment: myCounter;
  /* Increments myCounter by 1 */
  content: counter(myCounter) ".";
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  color: #ffd333;
  font-size: 24px;
}

.trending-post-wrap ul li a:hover {
  color: #e8011d;
}

.sidebar h3 {
  font-size: 22px;
  margin-bottom: 16px;
}
.sidebar {
  margin-top: 126px;
}

.read-more-button button {
  border-color: #000;
  border-radius: 24px;
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 55px;
  background: #fff;
}

.read-more-button button:hover {
  background-color: #1e1e1e;
  color: #fff;
  text-decoration: none;
}
.blog-content-wrap {
  position: relative;
  padding-bottom: 80px;
}

.read-more-button {
  position: absolute;
  bottom: 0;
  left: 79px;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear,left top, left bottom,color-stop(0, hsla(0,0%,100%,.3)),to(#fff));
  background: -o-linear-gradient(top,hsla(0,0%,100%,.3) 0,#fff);
  background: linear-gradient(180deg,hsla(0,0%,100%,.3) 0,#fff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

/* .blog-content-start-here {
  max-height: 1950px;
  overflow: hidden;
} */
.blog-content-start-here.content-full-view {
  max-height: 100%!important;
  overflow: visible!important;
}
.comment-show {
  display: none;
}
/************** Template CSS End **************/
.comment-show.desktop-view {
  display: block;
  margin-bottom: 24px;
}

.comment-show.desktop-view a img {
  max-width: 50px;
  display: block;
  margin: 0;
  margin-right: 4px;
}

.comment-show.desktop-view span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1d2228;
  font-size: 16px;
  margin-right: 8px;
  font-family: 'Roboto';
  font-weight: 500;
}

.comment-show.desktop-view a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-show.desktop-view a span i {
  margin-right: 6px;
}
.commento-root .commento-submit-button {
       
  background: #ea001e!important;
   
}
.commento-logo-container {
display: none !important;
}

.video-player{
  padding-bottom:56%;
  position: relative;
}
.video-js {
  position: absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
div#commento-main-area {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical  !important;
  -webkit-box-direction: reverse  !important;
      -ms-flex-direction: column-reverse  !important;
          flex-direction: column-reverse  !important;
}
.mx-600{
  max-width:600px !important;
  margin-left:auto;
  margin-right:auto;
}

.radius-8{
  border-radius:8px;
}
.caption {
  color: #767d84;
  font-size: 13px;
  text-align: left;
  line-height: 20px;
  margin-top: -8px;
}
.commento-root .commento-card .commento-option-downvote, .commento-root .commento-card .commento-option-upvote {
  -webkit-mask-image: none !important;
  background: url(../img/thumb.png) !important;
  width: 20px !important;
  height: 20px !important;
  background-size: 100% !important;
  margin-top: 10px !important;
}
.commento-root .commento-card {
  position: relative !important;
  padding-bottom: 24px !important;
}

.commento-root .commento-card .commento-options {
  position: absolute!important;
  bottom: -8px !important;
  left: -32px !important;
  float: none !important;
}
.commento-root .commento-card .commento-upvoted {
  background: url(../img/thumb-fill.png) !important;
  background-size: 100% !important;
}
.commento-root .commento-card .commento-downvoted {

  background: url(../img/thumb-fill.png) !important;
  background-size: 100% !important;
  width: 20px !important;
  height: 20px !important;
}

.commento-root .commento-card .commento-option-collapse {
  display: none !important;
}
.commento-root .commento-card .commento-score {
  position: absolute !important;
  bottom: 0;
}

.commento-root .commento-card .commento-option-downvote {
  right: -22px !important;
  top: 1px !important;
}
.commento-root .commento-card .commento-timeago::before {
  display: none!important;
}




/* slider  */

button.slick-arrow {
  position: absolute;
  top: 20%;
  width: 40px;
  height: 100px;
  font-size: 20px;
  color: #e70620;
  background: #c6c6c6;
  border: none;
  outline: none;
  cursor: pointer;
}

button.next-arrow-icon.slick-arrow {
  left: 0;
}

button.prev-arrow-icon.slick-arrow {
  right: 0;
  z-index: 99;
}
.slick-slider {
 
  -webkit-user-select: text !important;
 
  user-select: text !important;
   
}
.slider-area-section {
  position: relative;
}

span.toggle_fullscreen {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #e7061f;
  z-index: 9991;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}

span.toggle_fullscreen img {
  width: 100%;
  max-width: 30px;
  margin: 0;
}
span.close-fullscreen {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 9990;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #e7061f;
  padding: 4px;
}

span.close-fullscreen img {
  width: 100%;
  max-width: 18px;
  margin: 0;
}

.slider-area-section.fullscreen {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 99999;
  background: #fff;
}

.slider-area-section.fullscreen .slider-content {
  width: 30%;
  padding: 40px 32px;
  background: #fff;
  height: 100vh;
  overflow: scroll;
}

.slider-area-section.fullscreen .slider-items {
  display: flex !important;
  align-items:center;
}

.slider-area-section.fullscreen .slider-items img {
  margin: 0;
  max-width: 70%;
}
.slider-area-section.fullscreen button.prev-arrow-icon.slick-arrow {
  right: 30%;
  z-index: 99;
}
.slider-area-section.fullscreen .slider-items {
  height: 100vh;
  background: #333;
}

.slider-area-section.fullscreen button.slick-arrow {
 
  top: 50%;
 
  transform: translateY(-50%);
}

.slider-area-section.fullscreen p{
  font-size:15px;
}